<!DOCTYPE html>
<html lang="en">

<head>
    <ImportMap />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" /> 
    <link rel="stylesheet" href="@Assets["_content/MudBlazor/MudBlazor.min.css"]" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["NovusNodo.styles.css"]" />
    <link rel="stylesheet" href="@Assets["https://use.fontawesome.com/releases/v6.4.2/css/all.css"]">
    <link rel="stylesheet" href="@Assets["node_framework/node_framework.css"]" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="@Assets["https://code.jquery.com/jquery-3.6.0.min.js"]"></script>
    <script src="@Assets["https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"]"></script>
    <script src="@Assets["https://d3js.org/d3.v7.min.js"]"></script>
    <script src="@Assets["_content/MudBlazor/MudBlazor.min.js"]"></script>
    @* <script type="module" src="@Assets["node_framework/node_framework.js"]"></script> *@
    <script src="@Assets["JSFolder/GlobalJS.js"]"></script>
    <script src="@Assets["JSFolder/ResizableSidebar.js"]"></script>
</body>

</html>
