@using NovusNodo.Components.Pages
@inherits LayoutComponentBase
@inject NovusNodo.Management.NovusUIManagement NovusUIManagement
@inject NovusNodoCore.Managers.ExecutionManager ExecutionManager
@inject IJSRuntime JS
@inject ILoggerFactory LoggerFactory

<MudThemeProvider Theme="@_theme" IsDarkMode="NovusUIManagement.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="ml-3">Novus Nodo</MudText>
        <MudSpacer />
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle" />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudDrawer @bind-Open="NovusUIManagement.DrawerSettingsOpen" Class="custom-drawer" Width="440px" Anchor="Anchor.End" ClipMode="DrawerClipMode.Docked" Variant="DrawerVariant.Persistent" Elevation="2">

        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Settings</MudText>
        </MudDrawerHeader>
        <div @ref="debugScrollDiv" class="scrollable-drawer-content">
            <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" MinimumTabWidth="20px" PanelClass="pa-4">
                <MudTabPanel Icon="@Icons.Material.Filled.History">
                    <MudNavMenu>
                        @* <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountBox">Profile</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ShoppingCart">Orders</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.History">Order History</MudNavLink> *@

                        @foreach (var debug in ExecutionManager.DebugLog)
                        {
                            <DebugEntry Timestamp="DateTime.Now" MessageID="@debug.Key" Tag="Info" Message="@debug.Value"></DebugEntry>
                        }

                    </MudNavMenu>

                </MudTabPanel>
                <MudTabPanel Icon="@Icons.Material.Filled.Settings">
                    <MudText>Content Two</MudText>
                </MudTabPanel>
                <MudTabPanel Icon="@Icons.Material.Filled.History">
                    <MudText>Content Three</MudText>
                </MudTabPanel>
                <MudTabPanel Icon="@Icons.Material.Filled.AccountBox" Disabled="true">
                    <MudText>Content Disabled</MudText>
                </MudTabPanel>
            </MudTabs>
        </div>
    </MudDrawer>
    <MudMainContent Style="height: 100vh">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>